// Override default fonts
$font-family-sans-serif:  Lato, Arial, sans-serif;
$font-family-monospace:   Inconsolata, monospace;

@import "bootstrap/scss/bootstrap.scss";
@import "tether/src/css/tether.sass";

.money-text{
  text-align: right;
  font-family: $font-family-monospace;
}

.report-buttons{
  padding: 20px 0px;
}
