doctype html

html
	head
		title GatoMalo
		link(rel="stylesheet", type="text/css", href="/assets/stylesheets/bootstrap-flex.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/stylesheets/tether.min.css")
	body
		h1 Hello World
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		script(src="/assets/javascripts/jquery.min.js")
		script(src="/assets/javascripts/tether.min.js")
		script(src="/assets/javascripts/bootstrap.min.js")
