doctype html

html
	head
		title GatoMalo
		link(rel="stylesheet", type="text/css", href="/assets/stylesheets/bootstrap-flex.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/stylesheets/tether.min.css")
	body

		.container
			h1 Gatomalo
			#main_container

		script(src="/assets/javascripts/jquery.min.js")
		script(src="/assets/javascripts/tether.min.js")
		script(src="/assets/javascripts/bootstrap.min.js")
		script(src="/assets/javascripts/main.js")
