.modal.fade#progressDialog(role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5.modal-title Please Wait....
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				.progress.progress-success
					progress.progress.progress-bar.progress-bar-info.progress-bar-striped(
							value="40" value-max="100"
						)
